 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/IMG_6985.JPG');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 294px 357px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 73.09% 37.07%;
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 247px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-group-elements-1 {
  width: 903px;
  min-height: 463px;
  margin: 60px auto;
}

.u-section-2 .u-shape-1 {
  height: 361px;
  --radius: 10px;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-2 .u-video-1 {
  width: 754px;
  height: 463px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -412px auto 0 75px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 298px;
    min-height: 164px;
    height: auto;
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-2 .u-shape-1 {
    height: 150px;
    margin-top: 8px;
  }

  .u-section-2 .u-video-1 {
    width: 267px;
    height: 164px;
    margin-top: -158px;
    margin-left: 15px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 551px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 18px 308px 0 30px;
}

.u-section-3 .u-image-1 {
  width: 384px;
  height: 288px;
  margin: 40px 62px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: -288px 500px 60px 54px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 354px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 841px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 41px 451px 0 28px;
}

.u-section-4 .u-gallery-1 {
  height: 425px;
  width: 425px;
  margin: 38px auto 0 50px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 10px;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 3.52%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -425px 28px 53px 503px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 454px;
  }

  .u-section-4 .u-text-2 {
    margin: -424px 0 -121px 331px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 59px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 386px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-4 .u-gallery-1 {
    height: 349px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 25px 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 531px;
}

.u-section-5 .u-text-1 {
  margin: 83px 38px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 51px 100px 55px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 15px 17px 40px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 834px;
}

.u-section-6 .u-gallery-1 {
  height: 215px;
  width: 989px;
  margin: 68px auto 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 313px;
  height: 464px;
  margin: 51px auto 36px;
}

.u-section-6 .u-image-1 {
  width: 464px;
  height: 313px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  object-position: 46.08% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1645px;
  }

  .u-section-6 .u-gallery-1 {
    height: 204px;
    width: 940px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: -270px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-6 .u-gallery-1 {
    height: 469px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: -535px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2496px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1055px;
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: -1121px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-6 .u-gallery-1 {
    height: 533px;
    width: 273px;
    margin-top: 34px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 201px;
    height: 313px;
    margin-top: 50px;
    margin-bottom: 55px;
  }

  .u-section-6 .u-image-1 {
    width: 313px;
    height: 201px;
  }
}